<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />


    <application

        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyPersonalDiary7"
        android:name="com.example.mypersonaldiary7.MainApplication"
        tools:targetApi="31">


        <!-- Main Activity -->
        <activity
            android:name=".ul.activities.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyPersonalDiary7">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Add Activity -->
        <activity
            android:name=".ul.activities.AddEntryActivity"
            android:exported="true"
            android:label="Add Activity"
            android:theme="@style/Theme.MyPersonalDiary7" />
        <activity
            android:name=".ul.activities.CalendarActivity"
            android:exported="true"
            android:label="Calendar Activity"
            android:theme="@style/Theme.MyPersonalDiary7" />



        <!-- Edit Activity -->
        <activity
            android:name=".ul.activities.EditEntryActivity"
            android:exported="true"
            android:label="Edit Activity"
            android:theme="@style/Theme.MyPersonalDiary7" />
    </application>
</manifest>
